<!-- <div class='marg-top-0'> -->
<div class='col-s-6 col-4 marg-left-24-l font-size-l-1 pad-bottom-l-0 pad-top-0 marg-top-0'>{{infoDays.date}}</div>
<!-- <div> -->
<div class='col-s-1 col-1 pad-top-0 pad-right-0 pad-right-0-l marg-left-3-l mar-left-14 pad-bottom-l-0 pad-bottom-0'>
  <img src={{infoDays.day.condition.icon}} class='img img-l-f' />
</div>
<div class='col-s-1 col-1 font-size-l-1 pad-left-0-l pad-bottom-l-0 pad-left-0 pad-top-0'>{{infoDays.day.maxtemp_c}}&deg;</div>
<div class=' col-9 text-al-right text-al-right-l pad-top-l-0 font-size-l-1em pad-right-23'>{{infoDays.day.condition.text}}</div>
<!-- </div> -->
<div>
  <hr class='width-90 width-50-l' />
</div>
<!-- </div> -->
