<div class='col-s-12 mar-l-t'>
  <app-header></app-header>
</div>

<div class='height col-s-12 col-12 mar mar-l'>
  <!-- <div class=' text-center'> -->
  <form #sityForm='ngForm' (ngSubmit)='sityFormsData(sityForm)' return='falce'>
    <!-- <div class='col-s-12'> -->
    <div>
      <label class='label label-l center-l'>Enter a name of a sity and press search:</label>
    </div>
    <div class='center center-l'>

      <input class='inputText inputText-l ' name='sity' type='text' [(ngModel)]='input' required>

    </div>
    <!-- </div> -->
    <!-- <div *ngIf='isError' class='error col-12 center-text-l center-text'>
      <h1>There is no such city</h1>
    </div> -->
    <div class='col-s-12 col-12 center-text-l center-text'>
      <img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif" *ngIf="loading" />
    </div>
    <div class='col-12 col-s-12 center-text center-text-l font-size-l-1 font-size-1'> Last five seaches:</div>
    <ul>
      <li class='col-12 col-s-12 li li-l marg-top-l-0 mar-left-0' col-12 *ngFor='let search of searches' (click)=' searchFunc(search.sity)'>
        <div class='col-s-3 col-3 mar-left-25 marg-top-0 pad-top-l-0 pad-bottom-l-0 hover pad-left-0'>{{search.sity}}</div>
        <div class='col-s-5 col-3 marg-top-0 pad-top-l-0  pad-bottom-l-0'>{{search.time}}</div>
        <div>
          <hr class='width-76 mar-left-0 width-50-l pad-left-0'>
        </div>
      </li>

    </ul>



    <div class='center '>
      <div class='center, center-l mid'>
        <button class=' btn btn-l hover' [disabled]='!input'>Search</button>
      </div>
    </div>
  </form>
</div>
<!-- </div> -->
